#gridContainer div {
    outline: black solid 1px;
}

#gridContainer {
    outline: red solid 5px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(5px,1fr);
    grid-template-rows: 5px;
    
}